CREATE DATABASE HeThongQuanLyPhongTroDB;
GO

USE HeThongQuanLyPhongTroDB;
GO

CREATE TABLE TaiKhoan (
    MaTaiKhoan INT PRIMARY KEY IDENTITY(1,1),
    TenDangNhap NVARCHAR(50) UNIQUE NOT NULL,
    MatKhau NVARCHAR(255) NOT NULL,
    VaiTro NVARCHAR(20) NOT NULL,
    TrangThai NVARCHAR(20) DEFAULT N'Hoạt động'
);

CREATE TABLE KhachHang (
    MaKhachHang INT PRIMARY KEY IDENTITY(1,1),
    MaTaiKhoan INT NULL,
    HoTen NVARCHAR(100) NOT NULL,
    CCCD NVARCHAR(20),
    SoDienThoai NVARCHAR(15),
    Email NVARCHAR(100),
    DiaChi NVARCHAR(255),
    NgaySinh DATE,
    CONSTRAINT FK_KhachHang_TaiKhoan
        FOREIGN KEY (MaTaiKhoan) REFERENCES TaiKhoan(MaTaiKhoan)
);

CREATE TABLE CoSo (
    MaCoSo INT PRIMARY KEY IDENTITY(1,1),
    TenCoSo NVARCHAR(100) NOT NULL,
    DiaChi NVARCHAR(255),
    MoTa NVARCHAR(500)
);

CREATE TABLE Phong (
    MaPhong INT PRIMARY KEY IDENTITY(1,1),
    MaCoSo INT NOT NULL,
    TenPhong NVARCHAR(50) NOT NULL,
    GiaPhong DECIMAL(18,2) NOT NULL,
    DienTich FLOAT,
    TrangThai NVARCHAR(30) DEFAULT N'Trống',
    CONSTRAINT FK_Phong_CoSo
        FOREIGN KEY (MaCoSo) REFERENCES CoSo(MaCoSo)
);

CREATE TABLE BaiDang (
    MaBaiDang INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    TieuDe NVARCHAR(255),
    MoTa NVARCHAR(MAX),
    HinhAnh NVARCHAR(255),
    NgayDang DATETIME DEFAULT GETDATE(),
    TrangThai NVARCHAR(30) DEFAULT N'Hiển thị',
    CONSTRAINT FK_BaiDang_Phong
        FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong)
);

CREATE TABLE CoSoVatChat (
    MaCSVC INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    TenThietBi NVARCHAR(100),
    SoLuong INT,
    TinhTrang NVARCHAR(100),
    CONSTRAINT FK_CSVC_Phong
        FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong)
);

CREATE TABLE HopDong (
    MaHopDong INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    MaKhachHang INT NOT NULL,
    NgayBatDau DATE,
    NgayKetThuc DATE,
    TienCoc DECIMAL(18,2),
    FileHopDong NVARCHAR(255),
    TrangThai NVARCHAR(30) DEFAULT N'Hiệu lực',
    CONSTRAINT FK_HopDong_Phong
        FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong),
    CONSTRAINT FK_HopDong_KhachHang
        FOREIGN KEY (MaKhachHang) REFERENCES KhachHang(MaKhachHang)
);

CREATE TABLE NguoiOHopDong (
    MaNguoiO INT PRIMARY KEY IDENTITY(1,1),
    MaHopDong INT NOT NULL,
    HoTen NVARCHAR(100),
    CCCD NVARCHAR(20),
    SoDienThoai NVARCHAR(15),
    LaNguoiDaiDien BIT DEFAULT 0,
    CONSTRAINT FK_NguoiOHopDong_HopDong
        FOREIGN KEY (MaHopDong) REFERENCES HopDong(MaHopDong)
);
ALTER TABLE NguoiOHopDong ADD MaKhachHang INT NULL;
GO

-- Cập nhật khóa ngoại
ALTER TABLE NguoiOHopDong
ADD CONSTRAINT FK_NguoiOHopDong_KhachHang
FOREIGN KEY (MaKhachHang) REFERENCES KhachHang(MaKhachHang);
GO
ALTER TABLE NguoiOHopDong DROP CONSTRAINT FK_NguoiOHopDong_KhachHang;
ALTER TABLE NguoiOHopDong DROP COLUMN MaKhachHang;
GO
CREATE TABLE HoaDon (
    MaHoaDon INT PRIMARY KEY IDENTITY(1,1),
    MaHopDong INT NOT NULL,
    Thang INT,
    Nam INT,
    TongTien DECIMAL(18,2),
    TrangThai NVARCHAR(30) DEFAULT N'Chưa thanh toán',
    NgayTao DATETIME DEFAULT GETDATE(),
    CONSTRAINT FK_HoaDon_HopDong
        FOREIGN KEY (MaHopDong) REFERENCES HopDong(MaHopDong)
);

CREATE TABLE ChiTietHoaDon (
    MaChiTiet INT PRIMARY KEY IDENTITY(1,1),
    MaHoaDon INT NOT NULL,
    LoaiKhoanThu NVARCHAR(100),
    SoLuong DECIMAL(18,2),
    DonGia DECIMAL(18,2),
    ThanhTien DECIMAL(18,2),
    GhiChu NVARCHAR(255),
    CONSTRAINT FK_ChiTietHoaDon_HoaDon
        FOREIGN KEY (MaHoaDon) REFERENCES HoaDon(MaHoaDon)
);

CREATE TABLE ThanhToan (
    MaThanhToan INT PRIMARY KEY IDENTITY(1,1),
    MaHoaDon INT NOT NULL,
    SoTien DECIMAL(18,2),
    NgayThanhToan DATETIME,
    NoiDungChuyenKhoan NVARCHAR(255),
    TrangThai NVARCHAR(30),
    CONSTRAINT FK_ThanhToan_HoaDon
        FOREIGN KEY (MaHoaDon) REFERENCES HoaDon(MaHoaDon)
);
INSERT INTO TaiKhoan (TenDangNhap, MatKhau, VaiTro)
VALUES 
(N'admin', N'123456', N'Admin'),
(N'khach1', N'123456', N'Khach');

-- Tạo bảng thông báo
CREATE TABLE ThongBao (
    MaThongBao INT PRIMARY KEY IDENTITY(1,1),
    TieuDe NVARCHAR(200) NOT NULL,
    NoiDung NVARCHAR(MAX) NOT NULL,
    Loai NVARCHAR(20) DEFAULT 'info', -- info, success, warning, error
    DuongDan NVARCHAR(500) NULL,
    NguoiNhan INT NULL, -- NULL = gửi Admin, khác = gửi khách hàng cụ thể
    DaXem BIT DEFAULT 0,
    NgayTao DATETIME DEFAULT GETDATE()
);
GO

-- Tạo bảng yêu cầu sửa chữa
CREATE TABLE YeuCauSuaChua (
    MaYeuCau INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    MaKhachHang INT NOT NULL,
    TieuDe NVARCHAR(200) NOT NULL,
    NoiDung NVARCHAR(MAX) NOT NULL,
    HinhAnh NVARCHAR(500) NULL,
    TrangThai NVARCHAR(30) DEFAULT 'Chờ xử lý', -- Chờ xử lý, Đã tiếp nhận, Đã hoàn thành
    NgayTao DATETIME DEFAULT GETDATE(),
    NgayXuLy DATETIME NULL,
    GhiChuXuLy NVARCHAR(500) NULL,
    FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong),
    FOREIGN KEY (MaKhachHang) REFERENCES KhachHang(MaKhachHang)
);
ALTER TABLE YeuCauSuaChua ADD ChiPhiPhatSinh DECIMAL(18,2) NULL DEFAULT 0;
GO
ALTER TABLE HoaDon ADD 
    KhachXacNhan BIT DEFAULT 0,
    NgayKhachXacNhan DATETIME NULL,
    ChuXacNhan BIT DEFAULT 0,
    NgayChuXacNhan DATETIME NULL;
GO
ALTER TABLE TaiKhoan ADD Email NVARCHAR(100) NULL;
UPDATE TaiKhoan 
SET Email = (SELECT Email FROM KhachHang WHERE KhachHang.MaTaiKhoan = TaiKhoan.MaTaiKhoan)
WHERE VaiTro = 'Khach' AND EXISTS (SELECT 1 FROM KhachHang WHERE KhachHang.MaTaiKhoan = TaiKhoan.MaTaiKhoan);
UPDATE TaiKhoan SET Email = 'phongtroxinhh@gmail.com' WHERE VaiTro = 'Admin';
-- Xóa cũ
DELETE FROM CoSoVatChat;
GO

-- Thêm tất cả trong 1 lần
INSERT INTO CoSoVatChat (MaPhong, TenThietBi, SoLuong, TinhTrang)
SELECT MaPhong, TenThietBi, SoLuong, TinhTrang
FROM Phong
CROSS JOIN (
    VALUES 
        (N'Điều hòa', 1, N'Tốt'),
        (N'Tủ lạnh', 1, N'Tốt'),
        (N'Bình nóng lạnh', 1, N'Tốt'),
        (N'Giường', 1, N'Tốt'),
        (N'Tủ quần áo', 1, N'Tốt'),
        (N'Quạt', 1, N'Tốt'),
        (N'Bàn ghế', 1, N'Tốt')
        
)AS ThietBi(TenThietBi, SoLuong, TinhTrang);
GO
SELECT * FROM CoSoVatChat;
CREATE TABLE PhongImage (
    MaImage INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    ImagePath NVARCHAR(255) NOT NULL,
    IsMain BIT DEFAULT 0,
    CONSTRAINT FK_PhongImage_Phong FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong)
);

CREATE TABLE LichSuChiSoDienNuoc (
    MaLichSu INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    Thang INT NOT NULL,
    Nam INT NOT NULL,
    ChiSoDienCu DECIMAL(18,2),
    ChiSoDienMoi DECIMAL(18,2),
    ChiSoNuocCu DECIMAL(18,2),
    ChiSoNuocMoi DECIMAL(18,2),
    CONSTRAINT FK_LichSuChiSo_Phong FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong)
);