USE [HeThongQuanLyPhongTroDB]
GO
/****** Object:  Table [dbo].[BaiDang]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDang](
	[MaBaiDang] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[NgayDang] [datetime] NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[LoaiKhoanThu] [nvarchar](100) NULL,
	[SoLuong] [decimal](18, 2) NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSo]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo](
	[MaCoSo] [int] IDENTITY(1,1) NOT NULL,
	[TenCoSo] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSoVatChat]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoVatChat](
	[MaCSVC] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[TenThietBi] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[TinhTrang] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCSVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](30) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TienCoc] [decimal](18, 2) NULL,
	[FileHopDong] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [nvarchar](20) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuChiSoDienNuoc]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuChiSoDienNuoc](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[ChiSoDienCu] [decimal](10, 2) NOT NULL,
	[ChiSoDienMoi] [decimal](10, 2) NOT NULL,
	[ChiSoNuocCu] [decimal](10, 2) NOT NULL,
	[ChiSoNuocMoi] [decimal](10, 2) NOT NULL,
	[NgayGhi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiOHopDong]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiOHopDong](
	[MaNguoiO] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[CCCD] [nvarchar](20) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaCoSo] [int] NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[GiaPhong] [decimal](18, 2) NOT NULL,
	[DienTich] [float] NULL,
	[TrangThai] [nvarchar](30) NULL,
	[SoLuongNguoiO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongImage]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongImage](
	[MaImage] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NOT NULL,
	[IsMain] [bit] NULL,
	[NgayUpload] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 14/05/2026 9:13:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[SoTien] [decimal](18, 2) NULL,
	[NgayThanhToan] [datetime] NULL,
	[NoiDungChuyenKhoan] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiDang] ON 

INSERT [dbo].[BaiDang] ([MaBaiDang], [MaPhong], [TieuDe], [MoTa], [HinhAnh], [NgayDang], [TrangThai]) VALUES (1, 1, N'Phòng studio full nội thất cao cấp – ban công thoáng – Nguyễn Ngọc Vũ', N'Phòng thiết kế hiện đại theo dạng studio khép kín, diện tích rộng rãi, phù hợp ở 2–3 người. Nội thất đầy đủ gồm điều hòa, nóng lạnh, giường, tủ quần áo, bàn làm việc và máy giặt riêng. Phòng có ban công lớn đón ánh sáng tự nhiên, khu vực yên tĩnh và an ninh tốt.', N'/images/baidang/bd_639143861138941230.jpg', CAST(N'2026-05-09T22:50:21.303' AS DateTime), N'Hiển thị')
SET IDENTITY_INSERT [dbo].[BaiDang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaChiTiet], [MaHoaDon], [LoaiKhoanThu], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (1, 5, N'Tiền phòng', CAST(1.00 AS Decimal(18, 2)), CAST(5500000.00 AS Decimal(18, 2)), CAST(5500000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaChiTiet], [MaHoaDon], [LoaiKhoanThu], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (8, 5, N'Tiền điện', NULL, NULL, CAST(875000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaChiTiet], [MaHoaDon], [LoaiKhoanThu], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (9, 5, N'Tiền nước', NULL, NULL, CAST(149995.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSo] ON 

INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [MoTa]) VALUES (1, N'Cầu Giấy ', N' 219 nguyễn ngọc vũ', N'Cơ sở nằm tại số 219 Nguyễn Ngọc Vũ, quận Cầu Giấy, khu vực trung tâm đông dân cư, thuận tiện di chuyển sang các quận Thanh Xuân, Đống Đa và Ba Đình. Xung quanh có nhiều cửa hàng tiện lợi, quán ăn, siêu thị mini và các trường đại học lớn. Khu trọ an ninh tốt, có camera giám sát và chỗ để xe rộng rãi.')
INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [MoTa]) VALUES (2, N'Thanh Xuân', N'455 Vũ Tông Phan', N'Cơ sở nằm mặt đường Vũ Tông Phan, quận Thanh Xuân, giao thông thuận tiện, cách nhiều trường đại học và trung tâm thương mại chỉ vài phút di chuyển. Tòa nhà mới xây, thiết kế hiện đại, có thang máy, camera an ninh, sân thượng rộng để phơi đồ và khu để xe riêng.')
INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [MoTa]) VALUES (3, N'Hai Bà Trưng', N'64 Đình Đông', N'Cơ sở tọa lạc tại 64 Đình Đông, quận Hai Bà Trưng, khu vực trung tâm Hà Nội với nhiều tiện ích xung quanh như trường học, chợ dân sinh, cửa hàng tiện lợi và quán ăn. Tòa nhà được quản lý chuyên nghiệp, đảm bảo an ninh và vệ sinh chung.
')
SET IDENTITY_INSERT [dbo].[CoSo] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSoVatChat] ON 

INSERT [dbo].[CoSoVatChat] ([MaCSVC], [MaPhong], [TenThietBi], [SoLuong], [TinhTrang]) VALUES (1, 1, N'Điều Hòa ', 1, N'Tốt')
SET IDENTITY_INSERT [dbo].[CoSoVatChat] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaHopDong], [Thang], [Nam], [TongTien], [TrangThai], [NgayTao]) VALUES (1, 4, 1, 2026, CAST(5894997.00 AS Decimal(18, 2)), N'Đã thanh toán', CAST(N'2026-05-10T15:23:54.203' AS DateTime))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaHopDong], [Thang], [Nam], [TongTien], [TrangThai], [NgayTao]) VALUES (2, 4, 2, 2026, CAST(7117997.00 AS Decimal(18, 2)), N'Đã thanh toán', CAST(N'2026-05-10T15:23:54.250' AS DateTime))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaHopDong], [Thang], [Nam], [TongTien], [TrangThai], [NgayTao]) VALUES (3, 4, 3, 2026, CAST(5700000.00 AS Decimal(18, 2)), N'Chưa thanh toán', CAST(N'2026-05-10T15:23:54.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHopDong], [MaPhong], [MaKhachHang], [NgayBatDau], [NgayKetThuc], [TienCoc], [FileHopDong], [TrangThai]) VALUES (1, 1, 1, CAST(N'2026-01-30' AS Date), CAST(N'2026-06-30' AS Date), CAST(6500000.00 AS Decimal(18, 2)), N'/files/hopdongs/HopDong_1.pdf', N'Đã hủy')
INSERT [dbo].[HopDong] ([MaHopDong], [MaPhong], [MaKhachHang], [NgayBatDau], [NgayKetThuc], [TienCoc], [FileHopDong], [TrangThai]) VALUES (2, 1, 1, CAST(N'2026-01-30' AS Date), CAST(N'2026-06-30' AS Date), CAST(6500000.00 AS Decimal(18, 2)), N'/files/hopdongs/HopDong_2.pdf', N'Đã hủy')
INSERT [dbo].[HopDong] ([MaHopDong], [MaPhong], [MaKhachHang], [NgayBatDau], [NgayKetThuc], [TienCoc], [FileHopDong], [TrangThai]) VALUES (3, 3, 2, CAST(N'2026-03-20' AS Date), CAST(N'2026-05-22' AS Date), CAST(3500000.00 AS Decimal(18, 2)), N'/files/hopdongs/HopDong_3.pdf', N'Hiệu lực')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [MaTaiKhoan], [HoTen], [CCCD], [SoDienThoai], [Email], [DiaChi], [NgaySinh]) VALUES (1, NULL, N'Vũ Thị Ngọc Hà ', N'034305003747', N'0775692920', N'tr0minguyen@gmail.com', N'TDP Bình Sơn_Trần Lãm_Hưng Yên', CAST(N'2005-02-15' AS Date))
INSERT [dbo].[KhachHang] ([MaKhachHang], [MaTaiKhoan], [HoTen], [CCCD], [SoDienThoai], [Email], [DiaChi], [NgaySinh]) VALUES (2, NULL, N'Trương Hoài Anh', N'034305000002', N'0385112200', N'vtuy@gmail.com', N'Trần Lãm Hưng Yên', CAST(N'2006-01-20' AS Date))
INSERT [dbo].[KhachHang] ([MaKhachHang], [MaTaiKhoan], [HoTen], [CCCD], [SoDienThoai], [Email], [DiaChi], [NgaySinh]) VALUES (5, NULL, N'Vũ Anh Tiền', N'034305000002', N'0987654321', N'anh@gmail.com', N'Quốc Oai', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuChiSoDienNuoc] ON 

INSERT [dbo].[LichSuChiSoDienNuoc] ([MaLichSu], [MaPhong], [Thang], [Nam], [ChiSoDienCu], [ChiSoDienMoi], [ChiSoNuocCu], [ChiSoNuocMoi], [NgayGhi]) VALUES (1, 2, 2, 2026, CAST(0.00 AS Decimal(10, 2)), CAST(268.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(16.00 AS Decimal(10, 2)), CAST(N'2026-05-13T18:06:05.053' AS DateTime))
INSERT [dbo].[LichSuChiSoDienNuoc] ([MaLichSu], [MaPhong], [Thang], [Nam], [ChiSoDienCu], [ChiSoDienMoi], [ChiSoNuocCu], [ChiSoNuocMoi], [NgayGhi]) VALUES (2, 2, 3, 2026, CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-05-13T18:07:05.433' AS DateTime))
INSERT [dbo].[LichSuChiSoDienNuoc] ([MaLichSu], [MaPhong], [Thang], [Nam], [ChiSoDienCu], [ChiSoDienMoi], [ChiSoNuocCu], [ChiSoNuocMoi], [NgayGhi]) VALUES (3, 2, 3, 2026, CAST(268.00 AS Decimal(10, 2)), CAST(350.00 AS Decimal(10, 2)), CAST(16.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), CAST(N'2026-05-13T18:07:52.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuChiSoDienNuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiOHopDong] ON 

INSERT [dbo].[NguoiOHopDong] ([MaNguoiO], [MaHopDong], [HoTen], [CCCD], [SoDienThoai]) VALUES (6, 6, N'Vũ Thế Sơn', N'093447264893', N'0937584754')
INSERT [dbo].[NguoiOHopDong] ([MaNguoiO], [MaHopDong], [HoTen], [CCCD], [SoDienThoai]) VALUES (7, 6, N'Vũ Thị Hằng', N'039437475834', N'0193748547')
INSERT [dbo].[NguoiOHopDong] ([MaNguoiO], [MaHopDong], [HoTen], [CCCD], [SoDienThoai]) VALUES (8, 7, N'Nguyễn Trọng Điền', N'031245845124', N'0987456321')
SET IDENTITY_INSERT [dbo].[NguoiOHopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [MaCoSo], [TenPhong], [GiaPhong], [DienTich], [TrangThai], [SoLuongNguoiO]) VALUES (1, 1, N'Phòng 101-CG', CAST(6500000.00 AS Decimal(18, 2)), 35, N'Trống', 6)
INSERT [dbo].[Phong] ([MaPhong], [MaCoSo], [TenPhong], [GiaPhong], [DienTich], [TrangThai], [SoLuongNguoiO]) VALUES (2, 1, N'Phòng 201-CG', CAST(5500000.00 AS Decimal(18, 2)), 32, N'Đã thuê', 2)
INSERT [dbo].[Phong] ([MaPhong], [MaCoSo], [TenPhong], [GiaPhong], [DienTich], [TrangThai], [SoLuongNguoiO]) VALUES (3, 2, N'Phòng 101-TX', CAST(3500000.00 AS Decimal(18, 2)), 27, N'Đã thuê', 2)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongImage] ON 

INSERT [dbo].[PhongImage] ([MaImage], [MaPhong], [ImagePath], [IsMain], [NgayUpload]) VALUES (1, 1, N'/images/phongs/1_639142899470822934.jpg', 1, CAST(N'2026-05-13T17:25:47.160' AS DateTime))
INSERT [dbo].[PhongImage] ([MaImage], [MaPhong], [ImagePath], [IsMain], [NgayUpload]) VALUES (2, 1, N'/images/phongs/1_639142899569268582.jpg', 0, CAST(N'2026-05-13T17:25:56.940' AS DateTime))
INSERT [dbo].[PhongImage] ([MaImage], [MaPhong], [ImagePath], [IsMain], [NgayUpload]) VALUES (3, 1, N'/images/phongs/1_639142899722164200.jpg', 0, CAST(N'2026-05-13T17:26:12.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhongImage] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [TrangThai]) VALUES (1, N'admin', N'123456', N'Admin', N'Hoạt động')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [TrangThai]) VALUES (2, N'khach1', N'123456', N'Khach', N'Hoạt động')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [TrangThai]) VALUES (3, N'Vũ Thị Thanh Thúy', N'thuy23', N'Admin', N'Hoạt động')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaHoaDon], [SoTien], [NgayThanhToan], [NoiDungChuyenKhoan], [TrangThai]) VALUES (1, 5, CAST(6724995.00 AS Decimal(18, 2)), CAST(N'2026-05-10T23:06:27.597' AS DateTime), N'Thanh toán tiền phòng tháng 5/2026', N'Thành công')
INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaHoaDon], [SoTien], [NgayThanhToan], [NoiDungChuyenKhoan], [TrangThai]) VALUES (2, 1, CAST(5894997.00 AS Decimal(18, 2)), CAST(N'2026-05-10T23:07:36.003' AS DateTime), N'Thanh toán tiền phòng tháng 1/2026', N'Thành công')
INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaHoaDon], [SoTien], [NgayThanhToan], [NoiDungChuyenKhoan], [TrangThai]) VALUES (3, 2, CAST(5920000.00 AS Decimal(18, 2)), CAST(N'2026-05-13T15:51:21.283' AS DateTime), N'Thanh toán hóa đơn 2 - 2/2026', N'Thành công')
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0699223C4]    Script Date: 14/05/2026 9:13:08 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiDang] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[BaiDang] ADD  DEFAULT (N'Hiển thị') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Hiệu lực') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuChiSoDienNuoc] ADD  DEFAULT (getdate()) FOR [NgayGhi]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((1)) FOR [SoLuongNguoiO]
GO
ALTER TABLE [dbo].[PhongImage] ADD  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[PhongImage] ADD  DEFAULT (getdate()) FOR [NgayUpload]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [FK_BaiDang_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [FK_BaiDang_Phong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[CoSoVatChat]  WITH CHECK ADD  CONSTRAINT [FK_CSVC_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[CoSoVatChat] CHECK CONSTRAINT [FK_CSVC_Phong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_Phong]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TaiKhoan]
GO
ALTER TABLE [dbo].[LichSuChiSoDienNuoc]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[NguoiOHopDong]  WITH CHECK ADD  CONSTRAINT [FK_NguoiOHopDong_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[NguoiOHopDong] CHECK CONSTRAINT [FK_NguoiOHopDong_HopDong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_CoSo] FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_CoSo]
GO
ALTER TABLE [dbo].[PhongImage]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_HoaDon]
GO
